
ga terug
<div><img src={{model.artworkUrl60}}></div>
<div>
  <span>{{model.artistName}}</span>
  <span>{{model.trackName}}</span>
</div>
 <audio controls>
   <source src="{{model.previewUrl}}" type="audio/mpeg">

</audio>
